

@mixin button-style($bg-color,$font-color,$font-size){
    border-radius: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: $bg-color;
    color: $font-color;
    font-size: $font-size;
    display: flex;
    width: fit-content;
    padding: 20px;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    .btn-primary{
        @include button-style(white, black, 25px)
    }
    .btn-secondary{
        @include button-style(rgb(218, 95, 95), white, 30px)
    }
}